:root {
  --mouse-x: 0px;
  --mouse-y: 0px;
  --mouse-x1: 0px;
  --mouse-y2: 0px;
}

.buttonStyle {
  position: absolute
}

#frogPannerButton {
  top: 30px;
}


.frogStart {
  position: absolute;
  width: 3vw;
  left: 50vw;
  top: 50vh;
  transition: width var(--animationTime), left var(--animationTime), top 10s
}

.frogStart1 {
  position: absolute;
  width: var(--frogWidth);
  left: var(--startLeft);
  top: var(--startTop);
  transition: width var(--animationTime), left var(--animationTime), top 10s
}

:root {
  --startLeft: 0vw;
  --startTop: 0vh;
  --frogWidth: 1vw;
  --frogTop: 0vh;
  --frogTop1: 0vh;
  --frogTop2: 0vh
  --frogLeft: 0vw;
  --frogLeft1: 0vw;
  --frogLeft2: 0vh;
  --animationTime: 5s;
  --percentage: 50%;
}

.frogLook {
  width: var(--frogWidth);
  left: var(--frogLeft);
  top: var(--frogTop)
  /*left: var(--mouse-x);*/
}


.frogMoveAgain {
  animation: movement var(--animationTime) infinite
}

.blank {
  color: blue
}

@keyframes movement {
   0%{top: var(--frogTop); left: var(--frogLeft);}
  50%{top: var(--frogTop2); left: var(--frogLeft2);}
	100%{top: var(--frogTop); left: var(--frogLeft);}
}

.cursor1 {
  width: 100%;
  background-color: lightpink;
  cursor: none
}

.moveAgain {
  position: absolute;
  top: 40px;
  left: 20px;
}

.moveAgain1 {
  position: absolute;
  top: 200px;
  left: 500px;
}